# Node.js 関連
/node_modules
/npm-debug.log
/yarn-error.log

# Laravel 関連
/vendor
/bootstrap/cache
/storage
/storage/*.key
/public/hot
/public/storage
.env
.env.*
.phpunit.result.cache
src/artisan
# Docker 関連
docker-compose.override.yml

# Homestead
Homestead.json
Homestead.yaml

# IDE 関連
/.idea
/.vscode
